*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.cabecalho{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .links{

        a{
            color: black;
            font-size: 20px;
            text-decoration: none;
            margin: 0 20px;
            border-radius: 20px;
            border: 1px solid transparent;
            background-color: aqua;
            padding: 10px 20px;
            box-shadow: 5px 1px  rgba(0, 0, 0, 0.74);
        }
    }
}